<article class="product">
  <header>
    <%= link_to product do %>
    <%= image_tag product.image.thumb, alt: product.name %>
    <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>

  <aside class="price">
    <%= "₹ #{product.price}" %>
  </aside>
  <% if product.quantity == 0 %>
  <%= out_of_stock %>
  <% end %>
</article>
